@use 'variables';

.circle-button{
    width: 2em;
    height: 2em;
    font-size: 2em;
    padding: 0;
    border-radius: 50%;
    border:none;
    overflow:hidden;
    background: variables.$primary; 
    box-shadow: 0.5px 0.5px 1px 1px variables.$shadow;
    color: #fff;
    text-align: center;
    &:hover{
        background: variables.$alt-light;
    }
    &:active{
        background: variables.$alt-light;
    }
}

.square-button{
    display: flex;
    align-items: center;
    height: 2em;
    padding: 15px;
    border-radius: 2px;
    font-size: 1em;
    border:none;
    overflow:hidden;
    background: variables.$primary; 
    box-shadow: 0px 0px 1px variables.$shadow;
    color: #fff;
    &:hover{
        background: variables.$alt-light;
    }
    &:active{
        background: variables.$alt-light;
    }
}

.header{
    background-color: variables.$primary;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-left: 1em;
    margin: auto;
    font-size: 2em;
    font-weight: bold;
}

.user-icon{
    width: 34px;
    margin-right: 10px;
}

.plus-icon{
    width: 12px;
}

.expand-icon{
    width: 40px;
    border: none;
    background: none;
}

.user-name{
    font-size: 1.5em;
}

.post{
    @include variables.box-content;
    display: flex;
    flex-direction: column;
    .post-title{
        font-size: 1.5em;
        font-weight: 400;
        display: block;
    }
    .post-stats{
        display: block;
        font-size: 1em;
        padding-bottom: 0.5em;
    }
    .post-tags{
        display: block;
        padding-bottom: 1em;
    }
    .post-content{
        display: block;
        background-color: variables.$background-grey;
        border-radius: 10px;
        border: 1px solid variables.$border;
        margin: 12px;
        padding: 8px;
    }
    .post-add-comment{
        margin: 12px;
    }
    .post-comments{
        border-top: 1px solid variables.$border;
        margin-bottom: 10px;
        padding: 2px;
        .comment-content{
            display: block;
            border-radius: 10px;
            width: fit-content;
            background-color: variables.$background-grey;
            border: 1px solid variables.$border;
            margin: 12px;
            padding: 8px;

        }
        .post-comments-toggle{
            padding: 5px;
            cursor: pointer;
            user-select: none;
        }
    }

}

.search-box{
    @include variables.box-content;
    height: 275px;
}

.tags{
    display: flex;
    flex-direction: column;
    .active-tags{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 1em;
        margin: 20px 0px 20px 0px;
    }
}

.autosuggest{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0px;
    border: 1px solid variables.$border;
    cursor: pointer;
    .suggest-item{
        padding-left: 3px;
        &:hover{
            background: variables.$alt-light;
            color: #fff;
        }
    }
}



.tag{
    background-color: variables.$primary;
    color: #fff;
    font-size: 1em;
    border-radius: 4px;
    margin-right: 4px;
    padding: 4px;
    text-align: center;
    margin-bottom: 4px;
    .tag-name{
        padding: 5px;
    }
    .tag-remove{
        cursor: pointer;
        padding-left: 5px;
        padding-right: 2px;
        border-left: 1px solid #fff
    }
}

.tool-bar{
    background-color: variables.$background-grey;
    border: 1px solid variables.$border;
    height: 4em;
    width: 100%;
    display: flex;
}

.rte-entry{
    height: 18em;
    width: 100%;
    overflow: auto;
    border: 1px solid variables.$border;
    border-top: 0px;
    border-radius: 2px;
    &:focus{
        border: 2px solid #20b2aa;
    }
}

.label{
    font-size: 18px;
    font-weight: 400;
    width: 100%;    
}

.text-input{
    width: 100%;
    height: 2.5em;
    border: 1px solid variables.$border;
    &:focus{
        border: 2px solid #20b2aa;
        outline: none;
    }
}

.exit-button{
    cursor: pointer;
}

.add-post-menu{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .header{
        background-color: variables.$primary;
        color: #fff;
        width: 70vw;
        height: 4vh;
        padding-left: 0.5em;
        padding-right: 0.5em;
        display: flex;
        align-items: center;
        font-size: 2em;
        font-weight: bold;
    }
    .body{
        background-color: #fff;
        height: 70vh;
        width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
    }
}